@model HM_Proyecto_DF.Models.Cancion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cancion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCancion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCancion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnioLanzamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnioLanzamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compositor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compositor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album.NombreAlbum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.NombreAlbum)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
