@model IEnumerable<HM_Proyecto_DF.Models.Cancion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCancion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnioLanzamiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Compositor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album.NombreAlbum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCancion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnioLanzamiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Compositor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album.NombreAlbum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CancionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CancionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CancionID })
        </td>
    </tr>
}

</table>
